body {
  margin: 0;
  height: 100vh;
  font-family: "Comic Sans MS", cursive;
  background: radial-gradient(circle, #ff4d6d, #ffb3c6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  color: white;
}

h1 {
  font-size: 3.2rem;
  text-shadow: 0 0 25px red;
}

#letter {
  width: 80%;
  max-width: 500px;
  background: rgba(255,255,255,0.15);
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(255,255,255,0.5);
  font-size: 1.3rem;
  margin-bottom: 20px;
}

button {
  font-size: 1.5rem;
  padding: 14px 35px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 12px;
  font-weight: bold;
}

#yesBtn {
  background: white;
  color: crimson;
}

#noBtn {
  background: black;
  color: white;
  position: absolute;
}

#msg {
  font-size: 2rem;
  margin-top: 25px;
  display: none;
}

.heart {
  position: absolute;
  font-size: 2rem;
  animation: float 5s linear infinite;
}

@keyframes float {
  from {transform: translateY(100vh);}
  to {transform: translateY(-20vh);}
}

#mute {
  position: fixed;
  top: 15px;
  right: 15px;
  background: white;
  color: black;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 15px;
}
